{{ header1 }}

{{ header2 }}:
- <b>{{ example1 }}</b>

{{ header3 }}:
- {{ example2 }}


{{ header4 }}:
{% for reminder in reminders%} {% spaceless %}
{% if  reminder.is_active %}
<b>{{ forloop.counter }}. {{ reminder.text }}   {{ reminder.date_time | date:"d.m.y" }} {{ preposition }} {{ reminder.date_time | time:"H:i" }}</b>
{% else %}
{{ forloop.counter }}. {{ reminder.text }}   {{ reminder.date_time | date:"d.m.y" }} {{ preposition }} {{ reminder.date_time | time:"H:i" }}
{% endif %}
{% endspaceless %}
{% endfor %}
*{{ relevance }}